# Dependency directories
node_modules/
.vscode/
client/
chaincode/.nyc_output
chaincode/node_modules/
chaincode/jspm_packages/
chaincode/package-lock.json

jspm_packages/

package-lock.json
test.fabric-

# Coverage directory used by tools like istanbul
coverage

# Report cache used by istanbul
.nyc_output
